{% load static %}
{% include 'base.html' %}
<body class="bg_coco">

    <!-- For bebidas não alcolicas-->

    <div class="col-12 text-center alert alert-primary">
        <p>Bebidas Não Alcoolicas</p>
    </div>
    <div class="container-fluid ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for BNA in bebidaNA %}
            <div class="col">
                <div class="card h-100" >
                    <img class="card-img-top" src="{{ BNA.img.thumb.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ BNA.nome }}</h5>
                        <p class="card-text">{{ BNA.descricao }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-danger">Preço: {{ BNA.preco }} </small>
                        <!--<a class="text-right" href="#">&#10010</a>-->
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="col-12 text-center alert alert-primary">
        <p>Bebidas Alcoolicas</p>
    </div>
    <div class="container-fluid ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for BA in bebidaA %}
            <div class="col">
                <div class="card h-100" >
                    <img class="card-img-top" src="{{ BA.img.thumb.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ BA.nome }}</h5>
                        <p class="card-text">{{ BA.descricao }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-danger">Preço: {{ BA.preco }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>




{% include 'footer.html' %}