{% include 'base.html' %}
{% load static %}
   <!--<img src="lapeppopizza_banner.png' %}" alt="Avatar">-->
<div class="container-fluid">
   <div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/carousel_lapeppo.jpg' %}" alt="Boas-Vindas!" class="d-block img-fluid" style="width:100%">


      </div>
      <div class="carousel-item">
          <a href="{% url 'pizza' %}">
              <img src="{%  static 'img/carousel_pizza.jpg' %}" alt="Refrigerantes" class="d-block img-fluid" style="width:100%">
          </a>
        <div class="carousel-caption d-none d-md-block">
          <h3>Pizzas</h3>
          <p>Uma infinidade de sabores para você se deliciar!</p>
          <a href="{% url 'pizza' %}">

          </a>
        </div>
      </div>

      <div class="carousel-item">
          <a href="{% url 'bebida' %}" >
             <img src="../static/img/carousel_refris.jpg" alt="Combos" class="d-block img-fluid" style="width:100%">
          </a>
        <div class="carousel-caption d-none d-md-block">
          <h3>Refrigerantes</h3>
          <p>Pra acompanhar aquela Pizza não pode faltar, não é?</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
 </div>
  <div class="container-fluid">
    <h3>Promoções Combos</h3>
  </div>





  <div class="container-fluid ">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for cb in combo %}
            <div class="col">
                <div class="card h-100" >
                    <img class="card-img-top" src="{{ cb.img.thumb.url }}" alt="{{cb.nome}}">
                    <div class="card-body">
                        <h5 class="card-title">{{cb.nome}}</h5>
                        {% for pd in cb.produtos.all %}
                        <p class="card-text"> {{pd.nome}}</p>
                        {% endfor %}
                        <p class="card-text">R${{ cb.total }}</p>
                        <a href="#" class="btn btn-primary">Selecionar</a>
                    </div>
                </div>
            </div>
            {% endfor %}



<!---->
    </div>
  </div>
  <br>

  <!-- Remove the container if you want to extend the Footer to full width. -->


{% include 'footer.html' %}
