{% load static %}
{% include 'base.html' %}

<body class="bg_coco">

    <!-- For Pizza Salgadas-->

    <div class="col-12 text-center alert alert-primary">
        <p>Pizza Salgadas</p>
    </div>
    <div class="container-fluid ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for PS in pizzaSalgada %}
            <div class="col">
                <div class="card h-100" >
                    <img class="card-img-top" src="{{ PS.img.thumb.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ PS.nome }}</h5>
                        <p class="card-text">Ingredientes : {{ PS.descricao }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-danger">Preço: {{ PS.preco }} </small>
                        <!--<a class="text-right" href="#">&#10010</a>-->
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="col-12 text-center alert alert-primary">
        <p>Pizza Doces </p>
    </div>
    <div class="container-fluid ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for PD in pizzaDoce %}
            <div class="col">
                <div class="card h-100" >
                    <img class="card-img-top" src="{{ PD.img.thumb.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ PD.nome }}</h5>
                        <p class="card-text">Ingredientes : {{ PD.descricao }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-danger">Preço: {{ PD.preco }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>




{% include 'footer.html' %}