<!--{% load static %}-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - LaPeppoPizza</title>
    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >-->
    <link rel="stylesheet" href="../static/css/style.css" >
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >


</head>


<body >
  <div class="container-sm  text-center" >
    <!-- <img src="{% static 'img/local.jpg' %}" class="img-fluid" alt="..."> -->
    <h1> A Empresa</h1>

    <img src="../static/img/local.jpg" class="img-fluid" alt="Fachada LaPeppoPizza" style="margin-top: px; margin-bottom: 20px;"><br>

    <h3>Bem-vindo à La Peppo Pizza - Uma Tradição que Começou em 1960!</h3>
    <p class="paragrafo_sobre">Fundada em 1960, a La Peppo Pizza é uma renomada rede de pizzarias que se orgulha de oferecer uma experiência gastronômica única em todo o mundo. Com uma trajetória de mais de seis décadas, nos tornamos sinônimo de qualidade, sabor autêntico e tradição familiar.</p>

  <p class="paragrafo_sobre"> Desde o início, a La Peppo Pizza se dedicou a criar pizzas excepcionais, utilizando ingredientes frescos e autênticos métodos de preparo. Com um compromisso inabalável com a qualidade, expandimos nossa presença global, conquistando paladares em diversos países.

   Embora tenhamos percorrido um longo caminho desde 1960, nossa história no Brasil começou mais recentemente, em 1993. Desde então, a La Peppo Pizza tem encantado os brasileiros com suas receitas originais, mantendo a tradição que nos tornou uma referência mundial em pizzas de alta qualidade.

  Nossas filiais no Brasil são uma extensão do legado que começou há mais de meio século. Cada pizza que servimos é uma celebração da paixão e dedicação que dedicamos a esse ofício ao longo dos anos. Estamos comprometidos em oferecer não apenas uma refeição deliciosa, mas uma experiência que reflete a autenticidade e a excelência que nos definem.</p>

  <p class="paragrafo_sobre">Ao escolher La Peppo Pizza, você está escolhendo mais do que uma simples refeição; está optando por uma tradição que ultrapassa fronteiras e transcende o tempo. Agradecemos por fazer parte da nossa jornada e mal podemos esperar para compartilhar o sabor atemporal de La Peppo Pizza com você. Venha se deliciar conosco e faça parte da nossa história!</p>

    
   

    <adress>
      <strong><h2>La Peppo Pizza</h2></strong><br>
      <h3>Endereço</h3>
        <p style="font-size:18px">Centro Empresarial Fênix<br>
        Rua 13 de Maio, 2100<br>
        Sala 1205<br>
        Taquaritinga-SP</p>
      </adress>

    
    <br>
  </div>
  <div class="container-fluid  ">
    <section id="contact" class="section-padding ">
      <div>
        <div class="section-header text-center">
          <h2 class="section-title wow ">Contate-nos</h2>
          <br>
        </div>
        <div class="row contact-form-area input-group ">
          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="contact-block">
              <!-- <form id="contato" method="post" action="{% url 'sobre' %}"> -->
                <form id="contato" method="post" action="#"></form>
                <!-- {% csrf_token %} -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required data-error="Escreva seu nome">
                      <div class="help-block with-errors"></div>
                    </div>
                    <br>
                  </div>
                  <br>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" placeholder="E-mail" id="email" class="form-control" name="email" required data-error="Escreva seu E-mail">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                    <br>
                   <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" placeholder="Assunto" id="assunto" name="assunto" class="form-control" required data-error="Escreva seu assunto">
                      <div class="help-block with-errors"></div>
                    </div>
                     <br>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <textarea class="form-control" id="mensagem" name="mensagem" placeholder="Escreva aqui sua dúvida, elogio ou sugestão." rows="7" data-error="Escreva sua mensagem" required></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="submit-button text-left">
                      <br>
                      <button class="btn btn-success" id="form-submit" type="submit">Enviar Mensagem</button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-xs-12">
            <div class="map">
              <object style="border:0; height: 300px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8833.250385691666!2d-48.51686148774439!3d-21.432220564733118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b93bd3b48e7047%3A0x1808de33145ee4e0!2sFatec%20Taquaritinga!5e0!3m2!1spt-BR!2sbr!4v1699569612740!5m2!1spt-BR!2sbr"></object>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
</body>
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/javascript.js"></script>
</html>