.carousel-item {
    img:center;
}

.active {


}

.container {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom:50px;
}

.contact-form-area{
    padding-bottom:50px
}

.pizza {
    background-image:url(../img/bg.jpg);
}


.img{
    opacity: 0.5px;  
}

.overlay-image {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 10;
}

.paragrafo_sobre {
    color: black;;
}

a{
    text-decoration: none;
}